.edit2 {
    border: 3px solid #7a7d82;
    border-radius: 10px;
    box-shadow: 3px 2px #abaeb2;
	height: 300px;
}

.row-fix-top {
	margin-top: 10px;
}

.tOverflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.edit2:hover {
  background: #eee;
  cursor: pointer;
}

.avatar {
  padding-bottom:5px;
  border-radius: 50%;
  margin: auto;
  margin-top: 5px;
  display: block;
}

.bar {
   height: 40px;
   background: #6fb6ed;
}

.menu-button {
	position: relative !important;
	float:left !important;
	margin-left: 10px;
}

.div-col {
	height:40px;
	background-color:#ffffff;
}

.div-weather {
	height:94px;
}

.div-weather img {
	height: 85px;
}

.h1-hour {
	margin-top:5px;
}

.h1-month {
	font-size: 20px;
}

.h1-day {
	font-size:25px;
	margin-top:5px;
}

.h2-event-text {
    width:85%;
}

.div-event {
    border: 3px solid #6fb6ed;
    border-radius: 10px;
    box-shadow: 4px 4px lightblue;
}

@media (max-width: 991px) {
    .mdfix{
        border:100px;
        height: 20px !important;
    }
}

.mdfix{
    height:40px;
    background-color:#ffffff;
}

.edit {
    border: 3px solid #7a7d82;
    border-radius: 10px;
    box-shadow: 4px 3px #abaeb2;
    margin-top:3px;
}

.edit-e {
	position: absolute;
	top: 0;
    left: 100%;
    transform: translateX(-120%);
}

.add-event {
    border: 3px solid #32e56e;
    border-radius: 10px;
    box-shadow: 4px 3px #a0f7be;
    margin-top:3px;
	font-size: 24px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: white;
}

.glyphicon-fix {
	margin-left: 3px;
	color: black;
}

.div-flex {
	display: flex; 
	justify-content: center;
}

.no-result {
    padding-bottom: 5px;
    text-align: center;
}

.no-result-div {
    margin-top: 20px; 
    text-align: center;
}

@media (max-width: 840px) {
    .details {
        border: 3px solid #6fb6ed;
        border-radius: 10px;
        box-shadow: 4px 4px lightblue;
        display: flex;
        flex-direction: row;
    }
}

.details {
    border: 3px solid #6fb6ed;
    border-radius: 10px;
    box-shadow: 4px 4px lightblue;
}