#profileSettingsAvatar  {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      margin-left: auto;
    	margin-right: auto;
    	display: block;
}

.h2-name {
	text-align: center;
}

.bar {
   height: 40px;
   background: #6fb6ed;
}

.menu-button {
	position: relative !important;
	float:left !important;
	margin-left: 10px;
}

.div-col {
	height:40px;
	background-color:#ffffff;
}

.div-weather {
	height:94px;
}

.div-weather img {
	height: 85px;
}

.h1-hour {
	margin-top:5px;
}

.h1-month {
	font-size: 20px;
}

.h1-day {
	font-size:25px;
	margin-top:5px;
}

.h2-event-text {
    width:85%;
}

.div-event {
    border: 3px solid #6fb6ed;
    border-radius: 10px;
    box-shadow: 4px 4px lightblue;
}

@media (max-width: 991px) {
    .mdfix{
        border:100px;
        height: 20px !important;
    }
}

.mdfix{
    height:40px;
    background-color:#ffffff;
}

.edit {
    border: 3px solid #7a7d82;
    border-radius: 10px;
    box-shadow: 4px 3px #abaeb2;
    margin-top:3px;
}

.edit-e {
	position: absolute;
	top: 0;
    left: 100%;
    transform: translateX(-120%);
}

.add-event {
    border: 3px solid #32e56e;
    border-radius: 10px;
    box-shadow: 4px 3px #a0f7be;
    margin-top:3px;
	font-size: 24px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: white;
}

.glyphicon-fix {
	margin-left: 3px;
	color: black;
}

.div-flex {
	display: flex; 
	justify-content: center;
}

.btn-post {
    border: 3px solid #2a62fc;
    border-radius: 10px;
    box-shadow: 4px 3px #7fa1ff;
    margin-top:3px;
    font-size: 18px;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
}

input {
	height: 50px !important;
}

input.cartInfo {
	height: 20px !important;
}